:root {
  --footer-background: #2e2f42;
  --logo-font: 'Raleway', sans-serif;
  --logo-typical-fw: font-weight: 800;
  --logo-typical-fs: font-size: 18px;
}
h1,h2,h3,p {margin-top: 0; margin-bottom: 0;}
ul{margin-top: 0; margin-bottom: 0; padding-left: 0;}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #ffffff;
}
.container {width: 1152px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px;}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo{letter-spacing: 0.03em;
  text-transform: uppercase;}
.logo-head {
  font-family: var(--logo-font);
  font-weight: var(--logo-typical-fw);
  font-size: var(--logo-typical-fs);
  line-height: 1.33;
}
.logo-footer {
  font-family: var(--logo-font);
  font-weight: var(--logo-typical-fw);
  font-size: var(--logo-typical-fs);
  line-height: 1.17;
}
.menu-item {
  text-decoration: none;
  list-style: none;
}
/* =======WebStudio======== */
/* =======Header========== */
.main-header {
  background: #ffffff
}
.header-container{display: flex;}

.header-nav {display: flex;}

.header-adr {margin-left: auto;}

.menu-list {display: flex;}

.header-item:not(:last-child){margin-right: 40px;}

.head-logo-web {
  color: #4d5ae5;
}
.head-logo-studio {
  color: #2e2f42;
  margin-right: 76px;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #4d5ae5;
}

.contact {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: #4d5ae5;
}

/* =======Main=========== */
/* =======hero section======= */
.hero-section {
  background: #2e2f42;
  text-align: center;
}
.main-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.main-button{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background:  #4D5AE5;
  cursor: pointer;}
  .main-button:hover, .main-button:focus, .main-button:active{color: #FFFFFF; background: #404BBF;}
.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
  background: #404bbf;
}


/* =========second section========= */
.feature-list{display: flex;}
.secret-name {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =========third section======= */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* ==========fourth section======= */
.fourth-section-color {
  background: #f4f4fd;
}
/* =======Footer========= */
.footer-page {
  background: var(--footer-background);
}
.color-text {
  color: #e7e9fc;
}
.logo-web {
  color: #4d5ae5;
}
.logo-studio {
  color: #f4f4fd;
}
/* -------Portfolio-------- */
/* -------Mane Page-------- */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
